html,
body {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    background-image: url("../images/greyzz.png");
    font-family: sans-serif;
}

a:link {
    text-decoration: none;
}
a[href^="http"]:link {
    color: #00B5AD;
}
a[href^="http"]:hover {
    text-decoration: underline;
    color: #00B5AD;
}
#talk a[href^="http"]:hover {
    color: #D95C5C;
}
#proj a[href^="http"]:hover {
    color: #6ECFF5;
}

p.talk-date,
p.proj-date {
    float: right;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

#page {
    padding-top: 32px;
}
#me {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
#social-links {
    margin-top: 20px;
}
#social-links img {
    width: 42px;
    margin: 0 6px;
}
.qa-section {
    font-size: 0.9em;
}

.header .icon,
.sub.header .icon {
    display: inline-block;
    padding-right: 0.1em;
}

.stackable .header {
    margin: 0em;
}

.stackable .column .header {
    font-size: 1.1em;
}

.ui.grid .stackable .column {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

#conf-attend .icon {
    width: 1em;
    margin-right: 0em;
}

#self-rank .icon {
    font-size: 0.8em;
}

#self-rank p {
    margin: 0em;
}
#conf-attend p {
    margin-top: 0.15em;
    margin-bottom: 0em;
    color: grey;
}

#talk p:not(.talk-date) {
    margin-top: 0.25em;
}
#talk .column {
    margin: 0.5em 0;
}
#talk .icon {
    display: inline-block;
}
/* mobile */
@media screen and (max-width: 767px) {
    .ui.grid .stackable .column {
        padding-top: 0em !important;
    }
    #talk > .column, #proj > .column {
        margin-bottom: 1.5em !important;
    }
    p.talk-date, p.proj-date {
        float: none;
        margin-bottom: 0em;
    }
    #self-rank .icon {
        font-size: 0.9em;
    }
    #self-rank .icon:first-child {
        margin-left: 0.5em;
    }
    #conf-attend p {
        font-size: 0.9em;
    }
}

/* Retina mode */
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (max-moz-device-pixel-ratio: 2) {
    body {
        background-image: url("../images/greyzz_@2X.png");
    }
}

