/* Blockquote */

blockquote {
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: var(--color-text-muted) 0.4em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #cccccc;
}

blockquote small::before { content: '\2014 \00A0'; }

blockquote cite {
    font-weight: bold;
}

blockquote cite a { font-weight: normal; }
