/* Subscribe icon in the footer */

.subscribe {
    --size: 28px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: calc(var(--size) * -0.5);
    margin-left: calc(var(--size) * -0.5);

    border: #EBF2F6 1px solid;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    transition: box-shadow 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(50% - var(--size) * 0.5);
}

/* Add a box shadow to on hover */

.subscribe::before {
    content: attr(data-tooltip);
    position: absolute;
    color: #eeeeee;
    text-align: center;
    white-space: nowrap;
    max-width: none;
    top: -2.75rem;
    left: -2rem;
    font-size: 1rem;
    padding: 4px 10px;
    display: inline-block;
    visibility: hidden;
    background: #50585dd0;
    border-radius: 5px;
    transition: opacity 0.1s ease-out;
    z-index: 1;
}

.subscribe:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

.subscribe:hover::before {
    visibility: visible;
}
