.theme-toggle {
    border: none;
    border-radius: 50%;
    background: unset;
    padding: 4px;
    margin: -4px -4px -6px -4px;
    line-height: 1em;
}

.theme-toggle:hover {
    box-shadow: var(--color-text-muted) 0 0 0 2px;
    transition: box-shadow 0.25s;
}

svg.theme-toggle path.sun{
    visibility: hidden;
}

.dark-theme svg.theme-toggle path.moon {
    visibility: hidden;
}

.dark-theme svg.theme-toggle path.sun {
    visibility: visible;
}
