{% extends "base.html" %}

{% block html_tag %}lang="{% if 'zh' in article.tags %}zh-Hant{% else %}{{ article.lang }}{% endif %}"{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}">
{% endblock meta %}

{% block og_locale %}
<meta property="og:locale" content="{% if 'zh' in article.tags %}zh_TW{% elif 'en' in article.tags %}en_US{% else %}{{ article.lang }}{% endif %}"/>
{% endblock og_locale %}

{% block og %}
<meta property="og:site_name" content="{{ SITENAME }}"/>
<meta property="og:title" content="{{ article.title|striptags }}"/>
<meta property="og:description" content="{{ article.summary|striptags }}"/>
<meta property="og:locale" content="{{ article.metadata.get('og_locale', default_locale) }}"/>
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="{{ article.date }}"/>
<meta property="article:modified_time" content="{{ article.modified or article.date }}"/>
<meta property="article:author" content="{{ SITEURL }}/{{ article.author.url }}">
<meta property="article:section" content="{{ article.category.name }}"/>
{% for tag in article.tags %}
<meta property="article:tag" content="{{ tag.name }}"/>
{% endfor %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ccwang002">
<meta name="twitter:title" content="{{ article.title|striptags }}">
<meta name="twitter:description" content="{{ article.summary|striptags }}">
{% if article.metadata.cover %}
<meta property="og:image" content="{{ article.metadata.cover }}">
<meta name="twitter:image" content="{{ article.metadata.cover }}">
{% endif %}
{% endblock og %}



{% block content %}
<article class="post {% if 'zh' in article.tags %}zh-post{% elif 'en' in article.tags %}en-post{% endif %}">
    <span class="post-meta">
        <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
        in <a href="{{ SITEURL }}/{{ article.category.url }}/">{{ article.category }}</a>
    </span>
    <h1 class="post-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <span class="post-meta">
        {% if article.tags %}
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}/">{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </span>
    <section class="post-content">{{ article.content }}</section>
    <footer class="post-footer">
        {% include 'utterances.html' %}
	</footer>
</article>
{% endblock %}
