{% extends "base.html" %}
{% block title %}Tags &ndash; {{ super() }}{% endblock %}

{% block content %}
<article class="post">
  <header>
    <h1>Tags</h1>
  </header>
  <div id="tags-columns">
    <ul class="list">
      {%- for tag, articles in tags|sort_by_len %}
      <li>
          {% if TAG_FEED_ATOM %}<span class="tag-feed-link">[<a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.name) }}">feed</a>]</span>{% endif %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          ({{ articles|count }})
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
